.border {
  padding: 10px;
}

.gridList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}

.displayMessage {
  text-align: center;
  margin-top: 3rem;
}
