.quickAdd {
  display: flex;
  flex-direction: column;
}

.details {
  padding: 1rem;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.addToCartButton {
  margin-left: 2rem;
}

.quantity {
  width: 2.5rem;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.description {
  margin-top: 1.2rem;
  font-size: 1.1rem;
}
