.modal {
  border-radius: 1rem;
  border: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  width: 50%;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 5px;
}
