.button {
  margin: 10px;
  padding: 0.1px 10px;
  font-size: 1.2rem;
  background-color: #38d1bf;
  border: none;
  border-radius: 2px;
}

.button:hover {
  cursor: pointer;
  background-color: #f4a261;
}

.textButton {
  border: none;
  background-color: white;
  color: #9b2226;
  transition: font-weight 0.3s ease;
  font-size: 1.1rem;
}

.textButton:hover {
  cursor: pointer;
  text-decoration: underline;
}
